#body{
    background-color: whitesmoke;
    margin: 0% 0%;
 }
 #headdiv {
     background-color:rgb(0, 0, 0);
     height:55px;
 }
 #headdiv-1{
   width: 20%;
   height: 100%;
   float: left;
   text-align: center;
   margin-left: 4%;
 }
 #headdiv-1 div{
   margin-top:7px;
 }
 #headdiv-2{
    width: 40%;
    height: 100%;
    float: right;
    display: table;
    margin-right: 6%;
  }


 #headdiv-2 ul ol{
    float: left;
    text-align: center;
    line-height: 25px;
 }
 #headdiv-2 ul ol a{
    text-decoration:none;
    font-size:120%;
    font-family: Segoe UI ;
    color: white;
    border-bottom: 0px solid;
 }


 #taildiv{
    margin-top: 700px;
    background-color: rgb(0, 0, 0);
    height:200px;
    bottom:0;
 }
 #tailddiv1{
   height: 25%;
 }
 #tailddiv2{
   color: white;
   font-family: yaihei;
   text-align: center;
 }
 #tailddiv2 a{
   text-decoration: none;
   color: aliceblue;
 }
 #bodydiv{
   height: 2000px;
 }
 #logo{
   font-family: Consolas;
   font-size: 34px;
   color: rgb(255, 93, 93);
   text-decoration: none;
 }

