* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: rgb(0, 0, 0);
  /* top栏高度 */
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
}

/* h 代表header -d 代表header下的第一个div */
header .logo {
  font-family: Consolas;
  font-size: 34px;
  color: rgb(255, 93, 93);
}

header .navigation {
  list-style-type: none;
  line-height: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.navigation li {
  list-style: none;
  margin: 0 20px;
  font-size: 100%;
  font-family: Segoe UI;
  color: white;
  border-bottom: 0px solid;
}

main{
  position: fixed;
}

main img{
  height: 100%;
  width: 100%;
}


/*导航栏下划线样式*/
.navigation li a::after{
  content: "";
  border-bottom: white solid 1.75px;
  display: block;
  transform: scale(0);
  transition:all 0.2s ease-out 0s; 
}
.navigation li a::before{
  content: "";
  border-left:white solid 1.75px;
  display: block;
  position: absolute;
  transform: scale(0);
  transform-origin: center top;
  transition: all 0.2s ease-out 0s; 
}
.navigation li a:hover::after,a:hover::before{
  transform: scale(1);
}