
#headdiv-2 ul ol a::after{
    content: "";
    border-bottom: white solid 2px;
    display: block;
    transform: scale(0);
    transition:all 0.15s ease-out 0s; 
}

#headdiv-2 ul ol a::before{
    content: "";
    border-left:white solid 2px;
    display: block;
    position: absolute;
    transform: scale(0);
    transform-origin: center top;
    transition: all 0.15s ease-out 0s; 
}


#headdiv-2 ul ol a:hover::after,a:hover::before{
    transform: scale(1);
}